server:
  port: 8083
spring:
  application:
    name: service-stats
  datasource:
    url: jdbc:mysql://localhost:3306/primes?createDatabaseIfNotExist=true
    username: root
    password: 12345
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    properties:
      '[hibernate.dialect]': org.hibernate.dialect.MySQLDialect
